USE [master]
GO
/****** Object:  Database [EvidentaPopulatieCloud]    Script Date: 2/25/2026 1:25:47 AM ******/
CREATE DATABASE [EvidentaPopulatieCloud]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EvidentaPopulatieCloud].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EvidentaPopulatieCloud]
GO
/****** Object:  Table [dbo].[Adrese]    Script Date: 2/25/2026 1:25:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Adrese](
	[AdresaId] [int] IDENTITY(1,1) NOT NULL,
	[Judet] [nvarchar](50) NULL,
	[Localitate] [nvarchar](50) NULL,
	[Strada] [nvarchar](50) NOT NULL,
	[Numar] [int] NOT NULL,
	[Bloc] [int] NULL,
	[Scara] [int] NULL,
	[Apartament] [int] NULL,
	[CodPostal] [int] NOT NULL,
	[Sector] [int] NULL,
 CONSTRAINT [PK_Adrese] PRIMARY KEY CLUSTERED 
(
	[AdresaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[Cazier]    Script Date: 2/25/2026 1:25:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cazier](
	[CazierId] [int] IDENTITY(1,1) NOT NULL,
	[PersoanaId] [int] NOT NULL,
	[Infractiune] [nvarchar](100) NULL,
	[DataInfractiune] [datetime] NULL,
	[Sentinta] [nvarchar](200) NULL,
	[Pedeapsa] [nvarchar](100) NULL,
	[DataExpirareCazier] [datetime] NULL,
	[Numar] [int] NOT NULL,
 CONSTRAINT [PK_Cazier] PRIMARY KEY CLUSTERED 
(
	[CazierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON),
 CONSTRAINT [UNQ_PersoanaId] UNIQUE NONCLUSTERED 
(
	[PersoanaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[ContactPersoana]    Script Date: 2/25/2026 1:25:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactPersoana](
	[ContactId] [int] IDENTITY(1,1) NOT NULL,
	[PersoanaId] [int] NOT NULL,
	[TipContact] [nvarchar](20) NOT NULL,
	[Valoare] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_ContactPersoana] PRIMARY KEY CLUSTERED 
(
	[ContactId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[DocumenteIdentitate]    Script Date: 2/25/2026 1:25:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumenteIdentitate](
	[DocumentId] [int] IDENTITY(1,1) NOT NULL,
	[PersoanaId] [int] NOT NULL,
	[TipDocument] [nvarchar](20) NOT NULL,
	[Serie] [nvarchar](10) NOT NULL,
	[Numar] [int] NOT NULL,
	[DataEmiterii] [datetime] NOT NULL,
	[DateExpirare] [datetime] NOT NULL,
	[Emitent] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DocumenteIdentitate] PRIMARY KEY CLUSTERED 
(
	[DocumentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON),
 CONSTRAINT [UNQ_PersoanaId_Document] UNIQUE NONCLUSTERED 
(
	[PersoanaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[Permise]    Script Date: 2/25/2026 1:25:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permise](
	[PermisId] [int] IDENTITY(1,1) NOT NULL,
	[PersoanaId] [int] NOT NULL,
	[Categorie] [nvarchar](3) NOT NULL,
	[DataEmitere] [datetime] NOT NULL,
	[DataExpirare] [datetime] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[Emitent] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Permise_1] PRIMARY KEY CLUSTERED 
(
	[PermisId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[Persoane]    Script Date: 2/25/2026 1:25:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Persoane](
	[PersoanaId] [int] IDENTITY(1,1) NOT NULL,
	[CNP] [char](13) NOT NULL,
	[Nume] [nvarchar](50) NOT NULL,
	[InitialaTatalui] [char](3) NOT NULL,
	[Prenume] [nvarchar](50) NOT NULL,
	[DataNasterii] [datetime] NOT NULL,
	[Sex] [char](1) NOT NULL CONSTRAINT [DF_Persoane_Sex]  DEFAULT ('F'),
	[StareCivila] [nvarchar](50) NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_Persoane] PRIMARY KEY CLUSTERED 
(
	[PersoanaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON),
 CONSTRAINT [UNQ_Utilizatori] UNIQUE NONCLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PersoaneAdresa]    Script Date: 2/25/2026 1:25:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersoaneAdresa](
	[PersoanaId] [int] NOT NULL,
	[AdresaId] [int] NOT NULL,
	[DataInceput] [datetime] NOT NULL,
	[TipAdresa] [nvarchar](20) NOT NULL,
	[DataSfarsit] [datetime] NULL,
 CONSTRAINT [PK_PersoaneAdresa_1] PRIMARY KEY CLUSTERED 
(
	[PersoanaId] ASC,
	[AdresaId] ASC,
	[DataInceput] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[SchimbareNume]    Script Date: 2/25/2026 1:25:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SchimbareNume](
	[SchimbareId] [int] IDENTITY(1,1) NOT NULL,
	[PersoanaId] [int] NOT NULL,
	[NumeVechi] [nvarchar](50) NOT NULL,
	[PrenumeVechi] [nvarchar](50) NOT NULL,
	[NumeNou] [nvarchar](50) NOT NULL,
	[PrenumeNou] [nvarchar](50) NOT NULL,
	[DataSchimbare] [datetime] NOT NULL,
	[Motiv] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_SchimbareNume] PRIMARY KEY CLUSTERED 
(
	[SchimbareId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[Utilizatori]    Script Date: 2/25/2026 1:25:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Utilizatori](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Parola] [nvarchar](50) NOT NULL,
	[Rol] [nvarchar](13) NOT NULL,
 CONSTRAINT [PK_Username] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[VehiculeInmatriculate]    Script Date: 2/25/2026 1:25:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehiculeInmatriculate](
	[VehiculId] [int] IDENTITY(1,1) NOT NULL,
	[PersoanaId] [int] NOT NULL,
	[NrInmatriculare] [nvarchar](10) NOT NULL,
	[VIN] [nvarchar](17) NOT NULL,
	[Marca] [nvarchar](30) NOT NULL,
	[Model] [nvarchar](30) NOT NULL,
	[An] [int] NOT NULL,
	[Culoare] [nvarchar](20) NOT NULL,
	[DataInmatriculare] [datetime] NOT NULL,
 CONSTRAINT [PK_VehiculeInmatriculate] PRIMARY KEY CLUSTERED 
(
	[VehiculId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Index [UNQ_Numar]    Script Date: 2/25/2026 1:25:49 AM ******/
CREATE NONCLUSTERED INDEX [UNQ_Numar] ON [dbo].[DocumenteIdentitate]
(
	[Numar] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UNQ_Serie]    Script Date: 2/25/2026 1:25:49 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UNQ_Serie] ON [dbo].[DocumenteIdentitate]
(
	[Serie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Categorie]    Script Date: 2/25/2026 1:25:49 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Categorie] ON [dbo].[Permise]
(
	[Categorie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UNQ_CNP]    Script Date: 2/25/2026 1:25:49 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UNQ_CNP] ON [dbo].[Persoane]
(
	[CNP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO
ALTER TABLE [dbo].[Cazier]  WITH CHECK ADD  CONSTRAINT [FK_Cazier_Persoane1] FOREIGN KEY([PersoanaId])
REFERENCES [dbo].[Persoane] ([PersoanaId])
GO
ALTER TABLE [dbo].[Cazier] CHECK CONSTRAINT [FK_Cazier_Persoane1]
GO
ALTER TABLE [dbo].[ContactPersoana]  WITH CHECK ADD  CONSTRAINT [FK_ContactPersoana_Persoane] FOREIGN KEY([PersoanaId])
REFERENCES [dbo].[Persoane] ([PersoanaId])
GO
ALTER TABLE [dbo].[ContactPersoana] CHECK CONSTRAINT [FK_ContactPersoana_Persoane]
GO
ALTER TABLE [dbo].[DocumenteIdentitate]  WITH CHECK ADD  CONSTRAINT [FK_DocumenteIdentitate_Persoane1] FOREIGN KEY([PersoanaId])
REFERENCES [dbo].[Persoane] ([PersoanaId])
GO
ALTER TABLE [dbo].[DocumenteIdentitate] CHECK CONSTRAINT [FK_DocumenteIdentitate_Persoane1]
GO
ALTER TABLE [dbo].[Permise]  WITH CHECK ADD  CONSTRAINT [FK_Permise_Persoane] FOREIGN KEY([PersoanaId])
REFERENCES [dbo].[Persoane] ([PersoanaId])
GO
ALTER TABLE [dbo].[Permise] CHECK CONSTRAINT [FK_Permise_Persoane]
GO
ALTER TABLE [dbo].[Persoane]  WITH CHECK ADD  CONSTRAINT [FK_Persoane_Utilizatori] FOREIGN KEY([UserId])
REFERENCES [dbo].[Utilizatori] ([UserId])
GO
ALTER TABLE [dbo].[Persoane] CHECK CONSTRAINT [FK_Persoane_Utilizatori]
GO
ALTER TABLE [dbo].[PersoaneAdresa]  WITH CHECK ADD  CONSTRAINT [FK_PersoaneAdresa_Adrese] FOREIGN KEY([AdresaId])
REFERENCES [dbo].[Adrese] ([AdresaId])
GO
ALTER TABLE [dbo].[PersoaneAdresa] CHECK CONSTRAINT [FK_PersoaneAdresa_Adrese]
GO
ALTER TABLE [dbo].[PersoaneAdresa]  WITH CHECK ADD  CONSTRAINT [FK_PersoaneAdresa_Persoane] FOREIGN KEY([PersoanaId])
REFERENCES [dbo].[Persoane] ([PersoanaId])
GO
ALTER TABLE [dbo].[PersoaneAdresa] CHECK CONSTRAINT [FK_PersoaneAdresa_Persoane]
GO
ALTER TABLE [dbo].[SchimbareNume]  WITH CHECK ADD  CONSTRAINT [FK_SchimbareNume_Persoane] FOREIGN KEY([PersoanaId])
REFERENCES [dbo].[Persoane] ([PersoanaId])
GO
ALTER TABLE [dbo].[SchimbareNume] CHECK CONSTRAINT [FK_SchimbareNume_Persoane]
GO
ALTER TABLE [dbo].[VehiculeInmatriculate]  WITH CHECK ADD  CONSTRAINT [FK_VehiculeInmatriculate_Persoane] FOREIGN KEY([PersoanaId])
REFERENCES [dbo].[Persoane] ([PersoanaId])
GO
ALTER TABLE [dbo].[VehiculeInmatriculate] CHECK CONSTRAINT [FK_VehiculeInmatriculate_Persoane]
GO
ALTER TABLE [dbo].[ContactPersoana]  WITH CHECK ADD  CONSTRAINT [CK_TipContact] CHECK  (([TipContact]='telefon' OR [TipContact]='email' OR [TipContact]='alt'))
GO
ALTER TABLE [dbo].[ContactPersoana] CHECK CONSTRAINT [CK_TipContact]
GO
ALTER TABLE [dbo].[DocumenteIdentitate]  WITH CHECK ADD  CONSTRAINT [CK_TipDocument] CHECK  (([TipDocument]='buletin' OR [TipDocument]='pasaport'))
GO
ALTER TABLE [dbo].[DocumenteIdentitate] CHECK CONSTRAINT [CK_TipDocument]
GO
ALTER TABLE [dbo].[Permise]  WITH CHECK ADD  CONSTRAINT [CK_DataExpirare] CHECK  (([DataExpirare]>=[DataEmitere]))
GO
ALTER TABLE [dbo].[Permise] CHECK CONSTRAINT [CK_DataExpirare]
GO
ALTER TABLE [dbo].[Permise]  WITH CHECK ADD  CONSTRAINT [CK_Status] CHECK  (([Status]='expirat' OR [Status]='revocat' OR [Status]='suspendat' OR [Status]='activ'))
GO
ALTER TABLE [dbo].[Permise] CHECK CONSTRAINT [CK_Status]
GO
ALTER TABLE [dbo].[Persoane]  WITH CHECK ADD  CONSTRAINT [CK_Persoane] CHECK  (([Sex]='M' OR [Sex]='F'))
GO
ALTER TABLE [dbo].[Persoane] CHECK CONSTRAINT [CK_Persoane]
GO
ALTER TABLE [dbo].[PersoaneAdresa]  WITH CHECK ADD  CONSTRAINT [CK_Data] CHECK  (([DataSfarsit]>=[DataInceput]))
GO
ALTER TABLE [dbo].[PersoaneAdresa] CHECK CONSTRAINT [CK_Data]
GO
ALTER TABLE [dbo].[PersoaneAdresa]  WITH CHECK ADD  CONSTRAINT [CK_TipAdresa] CHECK  (([TipAdresa]='domiciliu' OR [TipAdresa]='resedinta' OR [TipAdresa]='proprietate'))
GO
ALTER TABLE [dbo].[PersoaneAdresa] CHECK CONSTRAINT [CK_TipAdresa]
GO
ALTER TABLE [dbo].[Utilizatori]  WITH CHECK ADD  CONSTRAINT [CK_Rol] CHECK  (([Rol]='Administrator' OR [Rol]='Operator' OR [Rol]='Cetatean'))
GO
ALTER TABLE [dbo].[Utilizatori] CHECK CONSTRAINT [CK_Rol]
GO
USE [master]
GO
